.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.on-active-left{
		// margin-right: -40%;
		// float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
		@media (max-width: 570px) {
		    // margin-right: -60%;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

.nav-sidebar{
	width: 40%;
	z-index: 999;
	// background-color: $color-top-header;
	position: fixed;
	height: 100%;
	transition: all 500ms ease;
	padding: 15px 0 30px;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	@media (max-width: 570px) {
	    width: 60%;
	}
	.nav-sidebar{
		margin-top: 50px;
	}
	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		margin-top: 30px;
		li{
			a, span{
				// color: $color-text-gray;
				// font-family: $roboto;
				font-size: 13px;
				text-transform: capitalize;
				padding: 5px 15px;
				display: block;
				font-weight: 600;
			}
			a{
				&:hover,
				&:focus{
					// background-color: $color-top-header-hover;
				}
			}
		}
	}
}

.nav-sidebar-left{
	margin-left: -40%;
	.btn-hide{
		margin-left: 30px;
	}
	@media (max-width: 570px) {
	    margin-left: -60%;
	}
	&.on-active{
		margin-left: 0;
	}
	ul{
		li{
			a, span{
				padding-left: 30px;
			}
		}
	}
}
.nav-sidebar-right{
	margin-right: -40%;
	right: 0;
	text-align: right;
	@media (max-width: 570px) {
	    margin-right: -60%;
	}
	.btn-hide{
		margin-right: 30px;
	}
	&.on-active{
		margin-right: 0;
	}
	ul{
		li{
			a, span{
				padding-right: 30px;
			}
		}
	}
}