/* ------------------------------------------------------------------------- *
 *  THIS STYLESHEET WILL BE OVERRIDE ANOTHER-PAGE I THINK
 *  SO PLEASE INFORM ME IF THERE SOMETHING ISSUE OUT THERE :P
/* ------------------------------------------------------------------------- */

// ClearFix Mixin
// Thanks to http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
	*zoom:1;
	&:before, &:after{
		content: "";
		display:table;
	}

	&:after{
		clear:both;
	}
}


/*  VARIABLES
/* ------------------------------------ */
@import "variable";

/*  GENERAL
/* ------------------------------------ */
.cf{
	@include clearfix();
}

.item-inline{
	width: 850px;
	margin: 0 auto;
	position: relative;
	.subitem-inline{
		width: percentage(1/3);
		float: left;
		position: relative;
		text-align: center;
	}
	.content-inline{
		height: 30px;
		color: $color-gray;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: normal;
		position: relative;
		top: -8px;
	}
}

.item-block{ 
	text-align: center;
	.content-inline{
		height: 30px;
		color: $color-gray;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: normal;
		position: relative;
		top: -8px;
	}
}

// IMAGE SPRITE
.icon-check{
	background-image: url("../img/icon_check.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px 30px;
	transform: scale(.4);
	height: 30px;
	width: 38px;
	display: inline-block;
}

// HELPER-SPACE
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

.marg30{
	position: relative;
	margin-bottom: 30px;
}

.nopadd{
	padding: 0 !important; 
}

// LAYOUT FORMATTING
// Credit to http://www.lukeharrison.net/blog/create-a-sass-grid-system/
// For grid-system
$column-width: 70px;
$gutter: 30px;
$columns: 12;
$padding: $gutter / 2;

// Should it be responsive
$responsive: true;

// Set container width relative to user variables
$width: ($column-width * $columns) + ($gutter * ($columns - 1));

// Define Individual Grid Classes
@for $i from 1 to $columns
{
	// Calculate grid size in pixels
	$grid: ($column-width * $i) + ($gutter * ($i - 1));
	
	// Calculate responsive grid sizes if required
	@if $responsive == true
	{
		// Calculate grid size in pixels
		$grid: ($grid / $width) * 100%;

		// Get Gutter Percentage for Grids
		$gutter-percentage: ($gutter / $width) * 100%;

		.col-#{$i}
			{
			width: $grid;
			float: left;
			// margin: 0 $gutter/2;
			}
	}
	@else
	{
		$grid: $grid;
		.grid#{$i}
			{
			width: $grid;
			float: left;
			margin-left:$gutter;
			}
	}
}

.subcol{
	padding: 0 15px;
}

// Set Base Container
.small-wrapper,
.big-wrapper{
	// Set container width if responsive
	@if $responsive == true{
		max-width:$width;
   	}
	@else{
		width:$width;
   	}
	margin:0px auto;
	padding: 0 $padding 0 $padding;
}

.section-box{
	padding: 60px 0;
	position: relative;
	background: white;
	.item-work{
		width: percentage(1/3);
		float: left;
		position: relative;
	}
	ul, 
	ol, 
	dl, 
	p, 
	address, 
	blockquote{
		letter-spacing: 1px;
		line-height: 1.5em;
	}

}

// COLOR FORMATTING
.bg-gray{
	background: $color-gray2;
}

.bg-green{
	background: $color-green;
	.title-md,
	p{
		color: white !important;
	}
}

.bg-orange{
	background: $color-orange;
}
// IMG FORMATTING
img{
	max-width: 100%;
}
.img-place{
	position: relative;
	img{
		margin: 0 auto;
	}
}

// BUTTON FORMATTING
.text-center{
	.GreenButton{
		text-transform: uppercase;
		font-weight: bold;
		margin-right: 30px;
		&:last-child{
			margin-right: 0;
		}
		&:hover,
		&:focus{
			background-color: transparent !important;
		}
	}
	.WhiteButton{
		color: $color-black;
		font-weight: bold;
		margin-right: 30px;
		&:last-child{
			margin-right: 0;
		}
		&:hover,
		&:focus{
			background-color: transparent;
			box-shadow: inset 0 0 0 2px white;
			color: white;
		}
	}
}

// FORM
.form-office{
	max-width: 250px;
	margin: 0 auto;
	text-align: center;
	input[type="text"], 
	input[type="email"], 
	input[type="website"], 
	input[type="search"],
	textarea{ 
		width: 100%;
		padding: 1em;
		border: 1px solid #e3e3e3;
	    box-shadow: inset 2px 2px 2px #e3e3e3;
	    margin-bottom: 15px;
	}
	textarea{
		resize: vertical;
	}
}

// FONT FORMATING
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.title-md{
	font-size: 24px;
	font-weight: bold;
}

.small-wrapper{
	width: 940px;
	margin: 0 auto;
}

.big-wrapper{
	width: 1150px;
	margin: 0 auto;
}

/*  ITEM FORMATTING
/* ------------------------------------ */

// ITEM-WORK
.how-it-works{
	.GreenButton{
		min-width: 245px;
	}
}
.item-work{
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	.subitem-work{
		padding: 0 15px;
	}
	.icon-no{
		height: 81px;
		width: 81px;
		line-height: 81px;
		border-radius: 50%;
		display: inline-block;
		background: $color-gray-lighten;
		font-weight: bold;
		font-size: 58px;
		color: white;
	}
	h4{
		display: block;
		font-weight: normal;
		font-size: 21px;
		margin: 1em 0 .5em;
		a{
			text-decoration: none;
		}
	}
	p{
		color: $color-gray-lighten;
		letter-spacing: 1px;
	}
}


// MEZZO
.section-mezzo{
	position: relative;
	text-align: right;
	.img-place{
		position: relative;
		margin-top: -120px;
		padding-bottom: 30px;
	}
}
// TASTE-BETTER
.taste-better{

}

/*  BANNER
/* ------------------------------------ */
.new-slide{
	.Slide{
		background-size: cover !important;
	}
	.SlideCopy{
		position: relative !important;
		top: 0;
		padding: 15% 0px 5%;
	}
	.GreenButton{
		min-width: 260px;
	}
}



/*  FOOTER
/* ------------------------------------ */
body{
	font-family: "futura-pt",sans-serif;
}
footer #FooterColumn3 #SocialLinks .icon-social{
	background-image: url('../img/social-icons.png');
}

@media ( max-width: 1200px) {
	.big-wrapper,
    .small-wrapper{
    	width: 820px;
    }
    .text-center{
    	.GreenButton,
    	.WhiteButton{
    		margin-bottom: 15px;
    		margin-left: 0;
    		margin-right: 0;
    	}
    }
}

@media (max-width: 995px) {
    .big-wrapper,
    .small-wrapper{
    	width: 680px;
    }
    .hidden-pad{
    	display: none;
    }
}

@media (max-width:895px) {
    .item-inline{
    	width: 100%;
    	padding: 0px;
    	.subitem-inline{
    		width: 100%;
    	}
    }
    .col-6{
    	width: 100%;
    }
}
@media (max-width: 767px) {
	.col-6{
		width: 100%;
	}
	.big-wrapper,
    .small-wrapper{
    	width: 100%;
    	padding: 0;
    }
    .section-box{
    	// display: none;
    }
    .item-inline{
    	width: 100%;
    	padding: 0px;
    	.subitem-inline{
    		width: 100%;
    	}
    }
    .item-inline .content-inline{
    	font-size: 14px;
    }
}

@media (max-width: 570px) {
    .section-box{
    	.item-work{
    		width: 100%;
    	}
    }
}