/* ------------------------------------------------------------------------- *
 *  THIS STYLESHEET WILL BE OVERRIDE ANOTHER-PAGE I THINK
 *  SO PLEASE INFORM ME IF THERE SOMETHING ISSUE OUT THERE :P
/* ------------------------------------------------------------------------- */
/*  VARIABLES
/* ------------------------------------ */
/*  GENERAL
/* ------------------------------------ */
.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table; }
  .cf:after {
    clear: both; }

.item-inline {
  width: 850px;
  margin: 0 auto;
  position: relative; }
  .item-inline .subitem-inline {
    width: 33.33333%;
    float: left;
    position: relative;
    text-align: center; }
  .item-inline .content-inline {
    height: 30px;
    color: #60605e;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: -8px; }

.item-block {
  text-align: center; }
  .item-block .content-inline {
    height: 30px;
    color: #60605e;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: -8px; }

.icon-check {
  background-image: url("../img/icon_check.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 38px 30px;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  height: 30px;
  width: 38px;
  display: inline-block; }

.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.marg30 {
  position: relative;
  margin-bottom: 30px; }

.nopadd {
  padding: 0 !important; }

.col-1 {
  width: 5.98291%;
  float: left; }

.col-2 {
  width: 14.52991%;
  float: left; }

.col-3 {
  width: 23.07692%;
  float: left; }

.col-4 {
  width: 31.62393%;
  float: left; }

.col-5 {
  width: 40.17094%;
  float: left; }

.col-6 {
  width: 48.71795%;
  float: left; }

.col-7 {
  width: 57.26496%;
  float: left; }

.col-8 {
  width: 65.81197%;
  float: left; }

.col-9 {
  width: 74.35897%;
  float: left; }

.col-10 {
  width: 82.90598%;
  float: left; }

.col-11 {
  width: 91.45299%;
  float: left; }

.subcol {
  padding: 0 15px; }

.small-wrapper,
.big-wrapper {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px 0 15px; }

.section-box {
  padding: 60px 0;
  position: relative;
  background: white; }
  .section-box .item-work {
    width: 33.33333%;
    float: left;
    position: relative; }
  .section-box ul,
  .section-box ol,
  .section-box dl,
  .section-box p,
  .section-box address,
  .section-box blockquote {
    letter-spacing: 1px;
    line-height: 1.5em; }

.bg-gray {
  background: #e7e7e7; }

.bg-green {
  background: #57ae75; }
  .bg-green .title-md,
  .bg-green p {
    color: white !important; }

.bg-orange {
  background: #e6b987; }

img {
  max-width: 100%; }

.img-place {
  position: relative; }
  .img-place img {
    margin: 0 auto; }

.text-center .GreenButton {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 30px; }
  .text-center .GreenButton:last-child {
    margin-right: 0; }
  .text-center .GreenButton:hover, .text-center .GreenButton:focus {
    background-color: transparent !important; }
.text-center .WhiteButton {
  color: #010101;
  font-weight: bold;
  margin-right: 30px; }
  .text-center .WhiteButton:last-child {
    margin-right: 0; }
  .text-center .WhiteButton:hover, .text-center .WhiteButton:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px white;
    color: white; }

.form-office {
  max-width: 250px;
  margin: 0 auto;
  text-align: center; }
  .form-office input[type="text"],
  .form-office input[type="email"],
  .form-office input[type="website"],
  .form-office input[type="search"],
  .form-office textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #e3e3e3;
    box-shadow: inset 2px 2px 2px #e3e3e3;
    margin-bottom: 15px; }
  .form-office textarea {
    resize: vertical; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.title-md {
  font-size: 24px;
  font-weight: bold; }

.small-wrapper {
  width: 940px;
  margin: 0 auto; }

.big-wrapper {
  width: 1150px;
  margin: 0 auto; }

/*  ITEM FORMATTING
/* ------------------------------------ */
.how-it-works .GreenButton {
  min-width: 245px; }

.item-work {
  text-align: center;
  position: relative;
  margin-bottom: 30px; }
  .item-work .subitem-work {
    padding: 0 15px; }
  .item-work .icon-no {
    height: 81px;
    width: 81px;
    line-height: 81px;
    border-radius: 50%;
    display: inline-block;
    background: #c2c2c2;
    font-weight: bold;
    font-size: 58px;
    color: white; }
  .item-work h4 {
    display: block;
    font-weight: normal;
    font-size: 21px;
    margin: 1em 0 .5em; }
    .item-work h4 a {
      text-decoration: none; }
  .item-work p {
    color: #c2c2c2;
    letter-spacing: 1px; }

.section-mezzo {
  position: relative;
  text-align: right; }
  .section-mezzo .img-place {
    position: relative;
    margin-top: -120px;
    padding-bottom: 30px; }

/*  BANNER
/* ------------------------------------ */
.new-slide .Slide {
  background-size: cover !important; }
.new-slide .SlideCopy {
  position: relative !important;
  top: 0;
  padding: 15% 0px 5%; }
.new-slide .GreenButton {
  min-width: 260px; }

/*  FOOTER
/* ------------------------------------ */
body {
  font-family: "futura-pt",sans-serif; }

footer #FooterColumn3 #SocialLinks .icon-social {
  background-image: url("../img/social-icons.png"); }

@media (max-width: 1200px) {
  .big-wrapper,
  .small-wrapper {
    width: 820px; }

  .text-center .GreenButton,
  .text-center .WhiteButton {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0; } }
@media (max-width: 995px) {
  .big-wrapper,
  .small-wrapper {
    width: 680px; }

  .hidden-pad {
    display: none; } }
@media (max-width: 895px) {
  .item-inline {
    width: 100%;
    padding: 0px; }
    .item-inline .subitem-inline {
      width: 100%; }

  .col-6 {
    width: 100%; } }
@media (max-width: 767px) {
  .col-6 {
    width: 100%; }

  .big-wrapper,
  .small-wrapper {
    width: 100%;
    padding: 0; }

  .item-inline {
    width: 100%;
    padding: 0px; }
    .item-inline .subitem-inline {
      width: 100%; }

  .item-inline .content-inline {
    font-size: 14px; } }
@media (max-width: 570px) {
  .section-box .item-work {
    width: 100%; } }
